In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
train_data = pd.read_csv('ssz_data/test.csv')
train_data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,36043,17646,2,165,65.0,120,80,1,1,0,0,0,1
1,44455,20418,1,161,77.0,120,70,1,1,0,0,1,1
2,61323,20347,1,165,88.0,120,80,2,2,0,0,1,1
3,27780,18086,2,170,91.0,120,80,3,3,0,0,1,1
4,54273,21791,1,158,67.0,130,80,1,1,0,0,1,1

In [7]:
test_data = pd.read_csv('ssz_data/train.csv')
test_data.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,58036,18387,2,175,75.0,110,70,1,1,0,0,1,1
1,88981,23328,2,155,66.0,140,90,1,1,1,1,0,0
2,74325,17602,2,168,73.0,120,80,2,1,0,0,1,0
3,16519,23432,2,183,95.0,140,90,1,1,0,0,0,1
4,28981,23162,1,156,62.0,150,80,1,1,0,0,1,1

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           12000 non-null  int64
 1   age          12000 non-null  int64
 2   gender       12000 non-null  int64
 3   height       12000 non-null  int64
 4   weight       12000 non-null  float64
 5   ap_hi        12000 non-null  int64
 6   ap_lo        12000 non-null  int64
 7   cholesterol  12000 non-null  int64
 8   gluc         12000 non-null  int64
 9   smoke        12000 non-null  int64
 10  alco         12000 non-null  int64
 11  active       12000 non-null  int64
 12  cardio       12000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 1.2 MB

In [26]:
x_train = train_data.drop(columns=['cardio'])
y_train = train_data['cardio']

In [19]:
x_test = test_data.drop(columns=['cardio'])
y_test = test_data['cardio']

In [16]:
from sklearn.linear_model import LogisticRegression

In [32]:
logreg = LogisticRegression(solver='lbfgs', max_iter=1000)
x_train
y_train

0        1
1        1
2        1
3        1
4        1
        ..
11995    1
11996    0
11997    0
11998    0
11999    0
Name: cardio, Length: 12000, dtype: int64

In [33]:
logreg.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [35]:
logreg_predict = logreg.predict(x_test)

In [40]:
logreg_predict[0:10]

array([0, 1, 0, 1, 1, 1, 0, 1, 1, 0])

In [42]:
np.array(y_test)[0:10]

array([1, 0, 0, 1, 1, 0, 1, 0, 1, 0])

In [43]:
# импортируем случайный лес из библиотеки sklearn
from sklearn.ensemble import RandomForestClassifier

In [44]:
rf = RandomForestClassifier(n_estimators=20, max_depth=10)

In [45]:
rf.fit(x_test, y_test)

RandomForestClassifier(max_depth=10, n_estimators=20)

In [47]:
rf_predict = rf.predict(x_test)

In [49]:
rf_predict[:10]

array([0, 1, 0, 1, 1, 1, 0, 1, 0, 0])

In [50]:
np.array(y_test)[:10]

array([1, 0, 0, 1, 1, 0, 1, 0, 1, 0])

In [51]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(logreg_predict, y_test)

0.7003448275862069

In [54]:
accuracy_score(rf_predict, y_test)

0.7552241379310345